
* {
    background-color: aliceblue;
}

p {
    height: 2rem;
    text-align: center;
    border-radius: 5px;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-top: 10px;
}

.parent > p {
    background-color: green;
}

.child > p {
    background-color: yellow;
}

.grandchild > p {
    background-color: red;
}

.greatgrandchild> p {
    background-color: peru;
}