/* * {
    margin: 0;
    padding: 0;
} */

/* * {
    background-color: grey;
} */


p {
    background-color: aquamarine;
}

#bt-4 {
    background-color: yellowgreen;
}

.para-f {
    background-color: goldenrod;
}

.para-b {
    background-color: red;
}

div>p {
    background-color: purple;
}


.parent> p {
    background-color: green;
}