/* /* * {
    margin: 0;
    padding: 0;
} */

/* * {
    background-color: grey;
} */


/* p {
    background-color: aquamarine;
}

#bt-4 {
    background-color: yellowgreen;
}

.para-f {
    background-color: goldenrod;
}

.para-b {
    background-color: red;
}

div>p {
    background-color: purple;
}


.parent> p {
    background-color: green;
} */ 

/* Adjacent sivling */

/* #para-siv + h1 {
    background-color: blue;
} */

/* general sivling */

/* #para-siv ~ h1 {
    background-color: red;
}

/* input css */
/* input[type=text] {
    background-color: grey;
    border: none;
    height: 1rem;
    color: aliceblue;
}  */



div {
    overflow:scroll;
    /* overflow: hidden; */
    /* overflow-wrap: anywhere; */
    overflow: auto;
}